pip install tensorflow==2.15.0
pip install flask
pip install joblib
pip install pandas
pip install scikit-learn
pip install flask_cors
pip install nbconvert jupyter
pip install openpyxl
pip install influxdb-client
pip install random
pip install opcua