/* In your CSS file or style block */
.styled-input-container {
    margin-top: 10px;
    display: flex;
    align-items: center; /* Align label, input, and unit vertically */
  }

.styled-input-container-node {
  margin-top: 10px;
  display: flex;
  align-items: center; /* Align label, input, and unit vertically */
}

.styled-input-container-node label {
  width: 250px;
}
  
.styled-input-container label {
  width: 220px;
}

.input-unit-container {
  display: flex;
  align-items: center;
}

.styled-input {
  width: 45px;
  padding: 3px; /* Adjust padding for a tighter input */
  font-size: 14px;
  border-bottom: 1px solid;
  border-radius: 4px;
  margin-right: 5px; /* Add margin between input and unit */
}

.unit {
  font-size: 12px;
  color: #555; /* Adjust color for the unit */
}
  

/* .styled-input-container .value {
    flex-grow: 1; 
    text-align: left; 
  } */